body{
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
	height: 500px;
	background-image: url(image/11.png);
	background-size: cover;
}
.nav{
    width: 100%; 
     color: white;
     height: 70px;
     background-color:black;
     padding-top: 10px;
} 
.h2{
	float: left;
}

ul{
	float: right;

}		
ul li{
	display: inline-block;
	padding: 0px 30px;

}
a{
	text-decoration: none;
	color: white;
	font-size: 22px;
}
a:hover{
	border-bottom: 1px solid white;
}
.bor{
text-align: center;	
padding-top: 20px;
font-size: 40px;
color: white;

}
.bor hr{
	width: 400px;
	height: 5px;
	background-color: #380505b8;
}
.btn{
	color: white;
	background-color:royalblue;
	margin-left: 550px;
	height: 40px;
	width: 120px;
	border-radius: 20px;
	outline: none;
	border: none;
}
.btm{
	color: white;
	background-color:royalblue;
	height: 40px;
	width: 120px;
	border-radius: 20px;
	outline: none;
	border: none;

}
.btn:hover{
transition: ease out 0.8s;
background-color: transparent;
border: 1px solid white;
}
.btm:hover{
transition: ease out 0.8s;
background-color: transparent;
border: 1px solid white;
}
.btn:active{
transition: ease out 0.8s;
background-color: royalblue;

}
.btm:active{
transition: ease out 0.8s;
background-color:royalblue;

}

